[Unit]
Description=OpenCool Daemon

[Service]
ExecStart=/usr/local/bin/opencool --config-file=/etc/opencool/config.yml

[Install]
WantedBy=multi-user.target